{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <style>
          a{
            text-decoration:none;
            color:white;
          }
          img{
              width: 600px;
              height: 300px;
          }
      </style>
    <title>HackCbs</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#"><h1>JoyCodes</h1></a>


</nav>

<h3 style="color:red; margin-top:30px;margin-left: 30px">Intro to loops:</h3>
    <p style="margin-left: 30px">A loop is used for iterating over a sequence.</p>


    <iframe width="676" height="380" src="https://www.youtube.com/embed/se6dCUTV1NE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-left: 30px"></iframe>

</body>
</html>